<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    async function convertCurrencyFrom() {
      const tocurrency = document.getElementById('tocurrency').value;
      const fromcurrency = document.getElementById('fromcurrency').value;
      const amount = document.getElementById('fromamount').value;
  
      try {
        const response = await axios.get(`https://openexchangerates.org/api/convert/${amount}/${fromcurrency}/${tocurrency}?app_id=e2be45965d5c4bd68b35a4e631a6c4fb`);
        const exchangeRates = response.data.rates;
        const convertedAmount = amount * exchangeRates.USD; // Assuming we convert to USD, change as needed
  
        document.getElementById('toamount').value = convertedAmount.toFixed(2);
      } catch (error) {
        console.error('Error:', error);
      }
    }
  
    async function convertCurrencyTo() {
      debugger
      const fromcurrency = document.getElementById('tocurrency').value;
      const tocurrency = document.getElementById('fromcurrency').value;
      const amount = document.getElementById('toamount').value;
  
      try {
        const response = await axios.get(`https://openexchangerates.org/api/convert/${amount}/${fromcurrency}/${tocurrency}?app_id=e2be45965d5c4bd68b35a4e631a6c4fb`);
        const exchangeRates = response.data.rates;
        const convertedAmount = amount * exchangeRates.USD; // Assuming we convert to USD, change as needed
  
        document.getElementById('fromamount').value = convertedAmount.toFixed(2);
      } catch (error) {
        console.error('Error:', error);
      }
    }
  
  </script>
  
  </head>
<style>
  .heroimg{
    width: 1000px;
    height: 1000px;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    width:80%;
    
  }
  img{
    width: 150px;
    height: 150px;
  }
  .container-item{
    width: 200px;
    height: 300px;
  }
</style>
<body class="container-fluid">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <h3>
    <%= displayName.text %>
  </h3>
  <div class="jumbotron px-0 hero bg-white">
    <img class="heroimg" src = <%= photos.photoUri %>>
  </div>
  <div class = "w-75">
    <h3>About this Place</h3>
    <p><%= summary %></p>
  </div>
  <div class = "w-75">
    <h3>News</h3>
    <p><%= news %></p>
  </div>

  <div>
    <h3>How much will it cost in your local currency</h3>
    <table>
      <tbody>
        <tr>
          <td>Amount</td>
          <td>From</td>
        </tr>
        <tr>
          <td>
            <input id="fromamount" type="number">
          </td>
          <td>    
            <select id="fromcurrency" onchange="convertCurrencyFrom()">
              <% for (const key in currencies) { %>
                <option value=<%= key %> 
                  <% if(key=="USD") { %> selected <% }%>
                  ><%= key %>: <%= currencies[key] %></option>
              <% } %>
            </select>
          </td>
        </tr>


        <tr>
          <td>Amount</td>
          <td>To</td>
        </tr>
        <tr>
          <td>
            <input id="toamount" type="number">
          </td>
          <td>    
            <select id="tocurrency" onchange="convertCurrencyTo()">
              <% for (const key in currencies) { %>
                <option value=<%= key %>><%= key %>: <%= currencies[key] %></option>
              <% } %>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>


</body>
</html>